{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Eventos<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
    
<!-- Barra de búsqueda -->
<div class="row">
    <div class="col-lg-12 text-center">
        <form action="/filtrar" method="GET" class="form-inline">
            <div class="form-group">
                <label for="direccion">Buscar Dirección:</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese una dirección">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>
<br/>
<br/>

{% if eventos|count > 0 %}
<div class="row ">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Nombre</th>
            <th>Fecha</th>
            <th>Lugar</th>
            <th>Mostrar</th>
            <th>Editar</th>
            <th>Borrar</th>
            </thead>
            <tbody>
            {% for x in eventos %}
            <tr>
                <td>{{ x.nombre }}</td>
                <td>{{ x.timestamp }}</td>
                <td>{{ x.lugar }}</td>
                <td><a class="btn btn-success" href="/show/{{x._id}}">Mostrar </a></td>
                <td><a class="btn btn-warning" href="/edit/{{x._id}}">Editar </a></td>
                <td><a class="btn btn-danger" href ="/delete/{{ x._id }}">Eliminar</a></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
    
</div>
<br>
<br>

{% else %}
<div class="row">
    <div class="col-lg-12 text-center">
        <div class="col-md-3"></div>
        <div class="col-md-6 bg-warning warning_mesagge">
            <label>No existen eventos.</label>
        </div>
        <div class="col-md-3"></div>

    </div>
</div>

{% endif %}

<a class="btn btn-primary" href="/new">
    Crear evento
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>

<br><br>

        
  <br/><br/><br/>
        

  {% if mapa %}
  <div id="mapdiv" style="width: 100%;
  height: 500px; 
  border: 1px solid black; "></div>
  {% endif %}


  <br>
  <br>
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
<script>
    var eventos = {{ eventos | tojson }};

    function getMessage() {
        if (!Array.isArray(eventos) || eventos.length === 0) {
            console.error("No valid events data available");
            return;
        }

        var map = new OpenLayers.Map("mapdiv");
        map.addLayer(new OpenLayers.Layer.OSM());

        var bounds = new OpenLayers.Bounds();
        var markers = new OpenLayers.Layer.Markers("Markers");
        map.addLayer(markers);

        eventos.forEach(function(evento) {
            if (evento.lat && evento.lon) {
                var lonLat = new OpenLayers.LonLat(evento.lon, evento.lat).transform(
                    new OpenLayers.Projection("EPSG:4326"),
                    map.getProjectionObject()
                );
                markers.addMarker(new OpenLayers.Marker(lonLat));
                bounds.extend(lonLat);
            }
        });

        // Center and zoom the map to show all markers
        map.zoomToExtent(bounds);
    }
</script>

<div id="mapdiv"></div>
<style>
    #mapdiv {
        width: 100%;
        height: 500px;
    }
</style>


<script type="text/javascript">
    
        getMessage()
    
</script>

{% endblock content %}



