{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Mapa <span aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
    
<!-- Barra de búsqueda -->
<div class="row">
    <div class="col-lg-12 text-center">
        <form action="/buscar" method="GET" class="form-inline">
            <div class="form-group">
                <label for="direccion">Buscar Mapas(e-mail):</label>
                <input type="text" class="form-control" id="direccion" name="direccion" placeholder="Ingrese una dirección">
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>
    </div>
</div>
<br/>
<br/>


{% if logueado %}
    {% if marcadores != [] %}
    <div>Mapa de : {{email}}</div><br><br>
        <div id="mapdiv" style="width: 100%;
        height: 500px; 
        border: 1px solid black; "></div>
    {% else %}
        <div>No hay marcadores para mostrar</div>
    {% endif %}



{% else %}
<div>Es necesario iniciar sesion para poder ver tu mapa</div>
{% endif %}


<br><br><br>


<a class="btn btn-primary" href="/new">
    Añadir marcador
    <span style="margin-left: 5px;" class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
</a>

<br/><br/><br/>
<br/><br/><br/>
{% if logueado %}

<div>
    Imagenes añadidas con los marcadores -> <br><br>
</div>

{% for m in marcadores%}
    {% if m.imagen %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-6">
                <img src="{{ m.imagen }}" class="img-thumbnail">
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endif %}
{% endfor %}

{% endif %}

<br><br>

        
  <br/><br/><br/>
        


  <br>
  <br>
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
  <script>
            var eventos = {{ marcadores | tojson }};
            var xhttp;
            function getMessage() {
                var lon = eventos[0].lon;
                var lat = eventos[0].lat;
                map = new OpenLayers.Map("mapdiv");
                map.addLayer(new OpenLayers.Layer.OSM());

                var lonLat = new OpenLayers.LonLat(lon,lat)
                  .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                    );
          
                var markers = new OpenLayers.Layer.Markers( "Markers" );

                var zoom=4;
    
                map.setCenter(lonLat, zoom);
                markers.addMarker(new OpenLayers.Marker(lonLat));
                map.addLayer(markers);

                eventos.forEach(function(evento) {
                   if(evento.lat && evento.lon){
                        var lonLat = new OpenLayers.LonLat(evento.lon,evento.lat)
                          .transform(
                                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                map.getProjectionObject() // to Spherical Mercator Projection
                            );
                        markers.addMarker(new OpenLayers.Marker(lonLat));
                    }
                });
    
                
            }
  </script>

<script type="text/javascript">
    window.onload = function() {
        getMessage()
    }
</script>

{% endblock content %}



