<html>
<body>
        
  <div id="mapdiv"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script>
            var xhttp;
            function getMessage() {
                var lon = {{ lon }};
                var lat = {{ lat }};
                map = new OpenLayers.Map("mapdiv");
                map.addLayer(new OpenLayers.Layer.OSM());

                var lonLat = new OpenLayers.LonLat(lon,lat)
                  .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                    );
          
                var markers = new OpenLayers.Layer.Markers( "Markers" );
                markers.addMarker(new OpenLayers.Marker(lonLat));
    
                map.addLayer(markers);
    
                var zoom=6;
    
                map.setCenter(lonLat, zoom);
            }
  </script>

    <script type="text/javascript">
        window.onload = function() {
            getMessage()
        }
    </script>
</body></html>