{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Mapa de {{correo}} <span aria-hidden="true"></span></h1>

    </div>
</div>
<br/>
    
<br/>
<br/>


{% if marcadores != [] %}
    <div id="mapdiv" style="width: 100%;
    height: 500px; 
    border: 1px solid black; "></div>
{% else %}
    <div>No hay marcadores para mostrar</div>
{% endif %}



<br><br><br>

<br/><br/><br/>

<div>
    Imagenes añadidas con los marcadores -> <br><br>
</div>

{% for m in marcadores%}
    {% if m.imagen %}
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-sm-6">
                <img src="{{ m.imagen }}" class="img-thumbnail">
            </div>
            <div class="col-md-2"></div>
        </div>
    {% endif %}
{% endfor %}
<br><br>

        
<br/><br/><br/>
<div class="row">
    <div class="col-lg-12 text-center">
        <h1>Visitas<span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span></h1>

    </div>
</div>

{% if visitas|count > 0 %}
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
        <table class="table">
            <thead>
            <th>Email</th>
            <th>Fecha de Visita</th>
            <th>Token</th>
            </thead>
            <tbody>
            {% for v in visitas %}
            <tr>
                <td>{{ v.email }}</td>
                <td>{{ v.fechaVisita }}</td>
                <td>{{ v.token }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="col-md-2"></div>
</div>

{% endif %}
        


  <br>
  <br>
  <br>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/openlayers/2.13.1/OpenLayers.js"></script>
  <script>
            var eventos = {{ marcadores | tojson }};
            var xhttp;
            function getMessage() {
                var lon = eventos[0].lon;
                var lat = eventos[0].lat;
                map = new OpenLayers.Map("mapdiv");
                map.addLayer(new OpenLayers.Layer.OSM());

                var lonLat = new OpenLayers.LonLat(lon,lat)
                  .transform(
                        new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                        map.getProjectionObject() // to Spherical Mercator Projection
                    );
          
                var markers = new OpenLayers.Layer.Markers( "Markers" );

                var zoom=4;
    
                map.setCenter(lonLat, zoom);
                markers.addMarker(new OpenLayers.Marker(lonLat));
                map.addLayer(markers);

                eventos.forEach(function(evento) {
                   if(evento.lat && evento.lon){
                        var lonLat = new OpenLayers.LonLat(evento.lon,evento.lat)
                          .transform(
                                new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
                                map.getProjectionObject() // to Spherical Mercator Projection
                            );
                        markers.addMarker(new OpenLayers.Marker(lonLat));
                    }
                });
    
                
            }
  </script>

<script type="text/javascript">
    window.onload = function() {
        getMessage()
    }
</script>

{% endblock content %}



